<div id='profiles-show-container'>
  <div class='container'>
    <h1>My Profile</h1>
    <div class="card">
      <div class="card-body">
        <p>bentran@gmail.com</p>
        <p>Created at</p>
        <p>Update at</p>
      </div>
    </div>
  </div>
</div>
