<div id='pages-home-container'>
  <div class='container'>
    <h1>Home Page</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <%= link_to 'Sign In', '#', class: 'btn btn-primary' %>
    <%= link_to 'Sign Up', '#', class: 'btn btn-primary' %>
    <%= link_to 'Go to profile', me_path, class: 'btn btn-primary' %>
  </div>
</div>
