<div id='pages-home-container'>
  <h1>Home Page</h1>

  <%= link_to 'Sign In', '#', class: 'btn btn-primary' %>
  <%= link_to 'Sign Up', '#', class: 'btn btn-primary' %>
  <%= link_to 'Go to profile', me_path, class: 'btn btn-primary' %>
</div>
